a:link {
    color: white;
}

a:hover {
    color: whitesmoke;
}

a:active {
    color: darkgray;
}

.check {
    border: 1px solid black;
    height: 225px;
    width: 200px;
}

.check-grid {
    border: 1px solid black;
}

.background {
    background-color: #F5FFFF
}

.header-custom {
    background-color: white;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid black;
}

.brand-text {
    text-decoration: none;
    font-family: 'Lusitana', serif;
    font-size: 2.5em;
    letter-spacing: 0.01em;
    text-shadow: -1px 0 silver, 0 1px silver, 1px 0 silver, 0 -1px silver;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0.5%;
}

.subbrand-box {
    margin-right: 5%;
}

.subbrand-text {
    font-family: 'Caveat', cursive;
    font-size: 1.4em;
    letter-spacing: 0.01em;
    color: gray;
}

.link-box {
    margin-left: 1%;
    margin-right: 1%;
}

.header-button {
    font-family: cursive;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    font-weight: bolder;
    width: 150px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: 1px 1px black;
    color: black;
    font-family: 'Lusitana', serif;
}

.header-button:hover {
    background-color: navy;
    color: white;
    border: 3px solid black;
    box-shadow: none;
}

.subheader-text {
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    color: white;
    font-size: 34px;
    margin-top: 20px;
}

#jumbotron-main {
    background-image: url("./assets/images/prof.jpg");
    height: 900px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 3px 3px black;
}

.responsive-header {
    padding-top: 5%;
}

.project-flex-container {
    display: flex;
    width: 700px;
    height: 500px;
    margin: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5%;
    border-radius: 7px;
}

.project-header {
    font-size: 3.2em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
    text-align: center;
}

.project-text {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.project-link {
    font-size: 1.3em;
    text-align: center;
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
}

.intro-index {
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
}

.sub-intro-index {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.01em;
    font-size: 30px;
}

.sub-sub-intro-index {
    font-size: 19px;
    text-decoration: underline;
    font-family: 'Sriracha', cursive;
}

.section-text {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    font-size: 20px;
}

.image-large {
    height: 325px;
    width: 250px;
}

.image-small {
    height: 200px;
    width: 300px;
    border: 3px solid white;
}

.contact-main {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.content-border {
    border: 3px solid white;
    margin-top: 50px;
}

.content-text {
    font-weight: bold;
    font-family: 'Lusitana', serif;
}

.special-border {
    border: 2px solid #6600cc;
}

.footer {
    text-align: center;
    background-color: rgb(49, 49, 49);
    width: 100%;
    color: white;
    padding-top: 2%;
    padding-bottom: 5%;
    border-top: 1px solid rgb(199, 199, 199);
}

.footer-main {
    color: white;
    font-size: 44px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px rgb(199, 199, 199);
    padding-bottom: 1%;
}

.footer-sub {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 18px;
}

.footer-content {
    color: white;
    transition: all 0.70s ease;
    padding: 3%;
}

.flex-container {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(224, 224, 224);
}

.bottom-margin {
    margin: 1000px;
}

.skills-container {
    width: 100%;
    border: 1px solid black
}

.skill-area-title {
    padding-left: 3%;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.025em;
    display: flex;
    align-items: center;
    font-size: 3.3em;
}

.skills-section-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 5px;
}

.skill-box-title {
    padding: 3%;
    border: 1px solid black;

}

.skill-box {
    margin-left: 3%;
    font-size: 20px;
    padding: 3%;
    border: 1px solid black;
}


  @media screen and (min-width: 578px) {

    .sidebar-left {
        width: 30px;
        height: 100%;
        background-color: #6600cc;
        overflow-x: hidden;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .sidebar-right {
        width: 30px;
        height: 100%;
        background-color: #6600cc;
        overflow-x: hidden;
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
    }

  }

  @media screen and (max-width: 425px) {
    .header-button {
        width: 300px;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .header-custom {
        padding-bottom: 2%;
    }
}

  @media screen and (max-width: 576px) {
      .center-small {
          text-align: center;
      }

      .responsive-header {
        padding-top: 100%;
    }
  }

  @media screen and (max-width: 645px) {
    .subbrand-text {
        text-decoration: underline;
        margin-bottom: 4%;
    }
}

  @media screen and (max-width: 768px) {
    .hide-small{
        display: none;
    }

    .true-footer {
        font-size: 11px;
    }

    .footer {
        padding-bottom: 10%;
    }

    #jumbotron-main {
        background-image: url("./assets/images/prof2.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
  }

  @media screen and (max-width: 880px) {
    .header-custom {
        justify-content: center;
      }
  }
 
  @media screen and (max-width: 992px) {
    .align-portfolio {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .image-large {
        padding: 5%;
        padding-right: 10%;
    }
  }

  @media screen and (max-width: 1200px) {
    .align-index {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #jumbotron-main {
        height: 750px;
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 577px) {
    .responsive-header {
        padding-top: 25%;
    }
  }